.hornedBeast-container {
  width: 90%;
  align-items: center;
}
.hornedBeast-container img {
  width: 90%;
  height: 45vw;
  object-fit: cover;
  object-position: center;
}

.heart {
  margin-right: 0.5rem;
  cursor: pointer;
}

h2,
p {
  align-self: right;
}
